h1 {
    font-size:xx-large;
    text-align:center;
    font-family: initial;
    color:black;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.vasakpoolne {
    text-align: center;
}
.parempoolne {
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    transition-duration: 2s;
    width: 500px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
ion-icon {
    font-size: 50px;
}
p {
    text-align: center;
    font-weight: bold;
}
body {
    background-image: url('https://th.bing.com/th/id/R.2bdc1efcfda9a86941fbca6c80f69572?rik=PWjTeDTZjYgAzQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2f0%2fb%2f453193.jpg&ehk=I5ydAHGFZSG9d3zSN0EtbH3XYLepiJwVzKcGHdflcWc%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
a {
    color: black;
}